# =========================
# Annotations
# =========================
annotations/
*.json
*.zip


# =========================
# Datasets
# =========================
datasets/
images/
labels/
*.jpg
*.jpeg
*.png
*.bmp
*.mp4
*.avi



# =========================
# YOLO / Ultralytics
# =========================
runs/
weights/
*.pt
*.onnx

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
.env
.venv/

# =========================
# OS
# =========================
.DS_Store